<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>练习</title>
    <style>
        #example{
            padding:20px;
        }
        #example>ul{
            margin-top:30px;
        }
    </style>
</head>
<body>
<div id="example">
    <h1>待做事项列表</h1>
    <input type="text" v-model="inputList"><input type="button" value="Add" @click="addList">
    <ul>
        <li v-for="todo in doList"><input type="button" value="delete" @click="deleteList">{{todo}}</li>
    </ul>
</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el:'#example',
        data:{
            doList:[],
            inputList:''
        },
        methods:{
            addList:function () {
                this.doList.push(this.inputList);
            },
            deleteList:function (index) {
                this.doList.splice(index,1);
            }
        }
    })
</script>
</body>
</html>